pynput>=1.7.6
pyautogui>=0.9.53
pillow>=9.0.0
tkinter-tooltip>=2.1.0
customtkinter>=5.0.3
psutil>=5.9.0
pyobjc-core>=8.5.0; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=8.5.0; sys_platform == 'darwin'
pyobjc-framework-Quartz>=8.5.0; sys_platform == 'darwin'
requests>=2.28.1
packaging>=21.3
