pynput>=1.7.6
requests>=2.31.0
packaging>=23.2
pyobjc-core>=9.2.0; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=9.2.0; sys_platform == 'darwin'
pyobjc-framework-Quartz>=9.2.0; sys_platform == 'darwin'
simplejson>=3.19.2
tkfilebrowser>=2.3.2
